
.dropdown
    li
        cursor: pointer
        background-color: $color-white
        border-bottom: 1px solid #aaa
        padding: .5rem
        border-radius: 4px
        font-size: .9rem
        &:hover
            opacity: .8

.sidePanel
    color: #fff
    padding: 0 1rem
    header
        display: flex
        justify-content: center
        align-items: center
        margin: 2rem 0
        text-align: center
        font-size: 1.25rem
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        svg
            margin-right: .5rem
            font-size: 1.75rem
            color: $color-white

.userPanel
    margin-bottom: 2rem
    .dropdown
        h3
            display: flex
            align-items: center
            cursor: pointer
            user-select: none
            img
                width: 2rem
                border-radius: 50%
                margin-right: .5rem
            svg
                margin-left: .5rem
        ul
            color: #333
            margin-top: 1rem
            width: 100%
            font-size: 1.25rem
            +w600
                width: 50%
            +w800
                width: 100%

.channels
    .upper
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1rem
        svg
            cursor: pointer
            font-size: 2rem
            user-select: none
    .bottom
        b
            display: block
            margin-bottom: .5rem
            cursor: pointer
            opacity: .5
            font-size: 1.25rem
            &.active
                opacity: 1

.infoModal
    position: absolute
    top: 1rem
    right: 1rem
    user-select: none
    svg
        font-size: 2.25rem
        color: $color-white
        cursor: pointer
        +w800
            color: $color-green

.modalWrap
    .overlay
        display: none
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(#333, .8)
    .modal
        box-shadow: 0 4px 4px #222
        transition: .4s
        z-index: 5
        position: absolute
        top: -100vh
        left: 10vw
        width: 80vw
        min-height: 60vh
        background-color: #fff
        border-radius: 8px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 1rem 2rem
    &.show
        .overlay
            display: block
        .modal
            top: 25vh

.addChannel
    h2
        margin-bottom: 1rem
        color: #555
    form
        width: 100%
    input
        font-size: 1.5rem
        width: 100%
        border-radius: 5rem
        border: 1px solid $color-green
        outline: none
        padding: .5rem 2rem
        margin-bottom: .5rem
    textarea
        font-size: 1.5rem
        width: 100%
        border-radius: 8px
        border: 1px solid $color-green
        outline: none
        padding: .5rem 2rem
    .buttons
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-top: .5rem
        button
            font-size: 1.25rem
            margin: .25rem
            &:nth-of-type(1)
                +button(#fff, $color-green-dark)
            &:nth-of-type(2)
                +button(#fff, #888)
